### 데이터로드 - activity

In [102]:
activity = pd.read_csv("../DATA/labeled_travel_data_363.csv", index_col=0).reset_index(drop=True)

In [103]:
activity.head(2)

,code,country,city_name,score,selling_count,reviews_count,guide_type,title,intro,review,travel_purpose,purpose,age_group,drop,area,company,interest
0,2122,Netherlands,Amsterdam,4.73,231,84,가이드 투어,국립박물관과 고흐 미술관 대표작 설명,국립박물관은 렘브란트(Rermbrandt)의 대표작 '야경꾼'을 전시하기 위한 목적...,좋긴 좋았습니다. 가이드님이 없었으면 중요 작품들이 무엇인지 알지 못했으니까요. 하...,"{'purpose': 'etc', 'age_group': '30'}",etc,30,N,도시,혼자,Ar
1,1474,Netherlands,Amsterdam,4.61,160,49,가이드 투어,암스테르담 시내 워킹투어,암스테르담은 네덜란드의 수도로서 운치와 분위기가 있는 도시입니다.그럼에도 불구하고 ...,두명이서 다녔는데 시간을 알차게 계획하시구 또 전문성있게 잘 설명해주셔서 재밌었습니...,"{'purpose': 'official', 'age_group': '30'}",official,30,N,도시,혼자,Ex

In [104]:
activity['label'] = 2

In [105]:
df_activity = activity[['label', 'code', 'title', 'intro', 'review', 'area', 'company', 'interest']]

In [106]:
df_activity['corpus'] = df_activity['intro'] + df_activity['review']

C:\Users\shine\Anaconda3\envs\fc\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [107]:
df_activity = df_activity[['label', 'code', 'title', 'corpus', 'area', 'company', 'interest']]

### 데이터 로드 -  book

In [108]:
keyword_book = pd.read_csv("../DATA/total_keyword_book.csv", index_col=0)
keyword_book2 = keyword_book[['ISBN', 'new_keyword', 'new_subject']]

In [109]:
book = pd.read_csv("../DATA/book_01_03_15_05_update.csv", index_col=0).reset_index(drop=True)
book

,ISBN,title,corpus,area,company,interest,comment
0,9.788957e+12,종의 기원,펴내는 작품마다 압도적인 서사와 폭발적인 이야기의 힘으로 많은 독자들의 뜨거운 사랑...,자연,혼자,Kn,NaN
1,9.788936e+12,"알로하, 나의 엄마들",따스한 손길로 마음을 어루만지는 이 시대 선한 이야기꾼 이금이 작가의 장편소설 『알...,자연,가족,Kn,NaN
2,9.788937e+12,싯다르타,"'수레바퀴 아래서', '데미안' 등으로 우리에게 친숙한 헤르만 헤세의 소설. 유복한...",자연,가족,Ar,NaN
3,9.788937e+12,노인과 바다,미국 현대 문학의 개척자라 불리는 어니스트 헤밍웨이의 대표작 『노인과 바다』. 퓰리...,자연,친구,Ar,NaN
4,9.788987e+12,왜 나는 너를 사랑하는가,인류의 역사와 함께 하는 사랑의 딜레마를 현대적인 방법으로 풀어낸 책. 작가는 1인...,자연,친구,Ex,NaN
...,...,...,...,...,...,...,...
412,9.788935e+12,팩트풀니스,"전 세계적으로 확증편향이 기승을 부리는 탈진실의 시대에, 막연한 두려움과 편견을 이...",도시,혼자,Ex,NaN
413,9.791190e+12,지적 대화를 위한 넓고 얕은 지식: 제로 편,"인문 분야 국내 작가로는 드물게 200만 부라는 더블 밀리언셀러를 기록한 작가, 출...",도시,혼자,Kn,NaN
414,9.791131e+12,내가 원하는 것을 나도 모를 때,왠지 자꾸만 마음이 쓸쓸하고 허무할 때가 있다. 지금 제대로 살고 있는 건지 앞으로...,도시,혼자,Ex,NaN
415,9.788935e+12,사피엔스,"지금으로부터 10만 년 전, 지구에는 호모 사피엔스뿐만 아니라 네안데르탈인, 호모 ...",도시,혼자,Kn,NaN
416,9.788966e+12,당신이 옳다(교보문고 단독 리커버)(찰스 장 아트 에디션),"30여 년간 정신과 의사로 활동하며 1만2천여 명의 속마음을 듣고 나누었고, 《당신...",도시,혼자,Sh,NaN

In [110]:
df_book = pd.merge(book,keyword_book2, on='ISBN', how='inner')

In [111]:
df_book['code'] = df_book['ISBN']
df_book['label'] = 1

In [112]:
df_book

,ISBN,title,corpus,area,company,interest,comment,new_keyword,new_subject,code,label
0,9.788957e+12,종의 기원,펴내는 작품마다 압도적인 서사와 폭발적인 이야기의 힘으로 많은 독자들의 뜨거운 사랑...,자연,혼자,Kn,NaN,인간본성 어머니 작가 한국소설 본성 유진,살인자 인간본성 악인,9.788957e+12,1
1,9.788936e+12,"알로하, 나의 엄마들",따스한 손길로 마음을 어루만지는 이 시대 선한 이야기꾼 이금이 작가의 장편소설 『알...,자연,가족,Kn,NaN,가족 여성 청소년소설 한국소설 장편소설 여성서사,한국소설 청소년소설 여성서사 일제강점기 근현대사 가족 여성 엄마,9.788936e+12,1
2,9.788937e+12,싯다르타,"'수레바퀴 아래서', '데미안' 등으로 우리에게 친숙한 헤르만 헤세의 소설. 유복한...",자연,가족,Ar,NaN,성장소설 데미안 사문 바라문 뱃사공 타마,성장소설,9.788937e+12,1
3,9.788937e+12,노인과 바다,미국 현대 문학의 개척자라 불리는 어니스트 헤밍웨이의 대표작 『노인과 바다』. 퓰리...,자연,친구,Ar,NaN,미국소설 노벨문학상 퓰리처상 실존철학 마지막소설 미국현대문학,퓰리처상 미국현대문학 미국소설 노벨문학상,9.788937e+12,1
4,9.788987e+12,왜 나는 너를 사랑하는가,인류의 역사와 함께 하는 사랑의 딜레마를 현대적인 방법으로 풀어낸 책. 작가는 1인...,자연,친구,Ex,NaN,사랑 연애 러브스토리 낭만 연인 실연,사랑 연애,9.788987e+12,1
...,...,...,...,...,...,...,...,...,...,...,...
412,9.788935e+12,팩트풀니스,"전 세계적으로 확증편향이 기승을 부리는 탈진실의 시대에, 막연한 두려움과 편견을 이...",도시,혼자,Ex,NaN,편견 데이터 통계 언론 침팬지 자연재해,사실충실성 탈진실 편견,9.788935e+12,1
413,9.791190e+12,지적 대화를 위한 넓고 얕은 지식: 제로 편,"인문 분야 국내 작가로는 드물게 200만 부라는 더블 밀리언셀러를 기록한 작가, 출...",도시,혼자,Kn,NaN,밀리언셀러 인문교양 우파니샤드 인문사회 제로 파편,인문사회 인문교양 지대넓얕,9.791190e+12,1
414,9.791131e+12,내가 원하는 것을 나도 모를 때,왠지 자꾸만 마음이 쓸쓸하고 허무할 때가 있다. 지금 제대로 살고 있는 건지 앞으로...,도시,혼자,Ex,NaN,문장 위로 소녀시대 태연 무기력 공감,좋은글귀 공감 위로,9.791131e+12,1
415,9.788935e+12,사피엔스,"지금으로부터 10만 년 전, 지구에는 호모 사피엔스뿐만 아니라 네안데르탈인, 호모 ...",도시,혼자,Kn,NaN,호모사피엔스 인류학 과학혁명 인류문명 네안데르탈인 지적설계,인류학 인류문명 인지혁명 농업혁명 과학혁명,9.788935e+12,1
416,9.788966e+12,당신이 옳다(교보문고 단독 리커버)(찰스 장 아트 에디션),"30여 년간 정신과 의사로 활동하며 1만2천여 명의 속마음을 듣고 나누었고, 《당신...",도시,혼자,Sh,NaN,치유 공감 심리치유 심리 피해자 기근,심리치유 심리적CPR 행동지침 공감,9.788966e+12,1

In [113]:
df_book2 = df_book[['label', 'code', 'title','corpus', 'area', 'company', 'interest']]

### 데이터 합치기

In [150]:
df_concated = pd.concat([df_activity, df_book2]).reset_index(drop=True)
df_concated

,label,code,title,corpus,area,company,interest
0,2,2.122000e+03,국립박물관과 고흐 미술관 대표작 설명,국립박물관은 렘브란트(Rermbrandt)의 대표작 '야경꾼'을 전시하기 위한 목적...,도시,혼자,Ar
1,2,1.474000e+03,암스테르담 시내 워킹투어,암스테르담은 네덜란드의 수도로서 운치와 분위기가 있는 도시입니다.그럼에도 불구하고 ...,도시,혼자,Ex
2,2,3.470000e+04,네덜란드 암스테르담 시내 실속 워킹투어,암스테르담을 실속있게 둘러볼 수 있는 투어입니다. 레이오버로 암스테르담에 잠깐 들...,도시,허니문,Ar
3,2,4.600000e+02,"히트호른, 폴른담, 풍차마을",작은 베네치아라는 별명을 가진 히트호른 마을과 네덜란드에서 가장 아름다운 전통의상을...,자연,친구,Ex
4,2,8.693000e+03,"[1+1이벤트/가격할인]프라하근교차량투어""독일 드레스덴&작센의스위스""(#할인쿠폰제공#)",*안녕하세요 하이프라하입니다! 이벤트 공지사항 1+1이벤트 공지입니다.독일 드...,자연,혼자,Ex
...,...,...,...,...,...,...,...
775,1,9.788935e+12,팩트풀니스,"전 세계적으로 확증편향이 기승을 부리는 탈진실의 시대에, 막연한 두려움과 편견을 이...",도시,혼자,Ex
776,1,9.791190e+12,지적 대화를 위한 넓고 얕은 지식: 제로 편,"인문 분야 국내 작가로는 드물게 200만 부라는 더블 밀리언셀러를 기록한 작가, 출...",도시,혼자,Kn
777,1,9.791131e+12,내가 원하는 것을 나도 모를 때,왠지 자꾸만 마음이 쓸쓸하고 허무할 때가 있다. 지금 제대로 살고 있는 건지 앞으로...,도시,혼자,Ex
778,1,9.788935e+12,사피엔스,"지금으로부터 10만 년 전, 지구에는 호모 사피엔스뿐만 아니라 네안데르탈인, 호모 ...",도시,혼자,Kn
779,1,9.788966e+12,당신이 옳다(교보문고 단독 리커버)(찰스 장 아트 에디션),"30여 년간 정신과 의사로 활동하며 1만2천여 명의 속마음을 듣고 나누었고, 《당신...",도시,혼자,Sh

In [151]:
df_concated['code'][0]

2122.0

In [152]:
# ISBN 컬럼 정리
codes = []
for i in range(len(df_concated)):
    code = str(int(df_concated['code'][i]))
    codes.append(code)
len(codes)

780

In [153]:
df_concated['code'] = codes

In [154]:
df_concated

,label,code,title,corpus,area,company,interest
0,2,2122,국립박물관과 고흐 미술관 대표작 설명,국립박물관은 렘브란트(Rermbrandt)의 대표작 '야경꾼'을 전시하기 위한 목적...,도시,혼자,Ar
1,2,1474,암스테르담 시내 워킹투어,암스테르담은 네덜란드의 수도로서 운치와 분위기가 있는 도시입니다.그럼에도 불구하고 ...,도시,혼자,Ex
2,2,34700,네덜란드 암스테르담 시내 실속 워킹투어,암스테르담을 실속있게 둘러볼 수 있는 투어입니다. 레이오버로 암스테르담에 잠깐 들...,도시,허니문,Ar
3,2,460,"히트호른, 폴른담, 풍차마을",작은 베네치아라는 별명을 가진 히트호른 마을과 네덜란드에서 가장 아름다운 전통의상을...,자연,친구,Ex
4,2,8693,"[1+1이벤트/가격할인]프라하근교차량투어""독일 드레스덴&작센의스위스""(#할인쿠폰제공#)",*안녕하세요 하이프라하입니다! 이벤트 공지사항 1+1이벤트 공지입니다.독일 드...,자연,혼자,Ex
...,...,...,...,...,...,...,...
775,1,9788934985068,팩트풀니스,"전 세계적으로 확증편향이 기승을 부리는 탈진실의 시대에, 막연한 두려움과 편견을 이...",도시,혼자,Ex
776,1,9791190313131,지적 대화를 위한 넓고 얕은 지식: 제로 편,"인문 분야 국내 작가로는 드물게 200만 부라는 더블 밀리언셀러를 기록한 작가, 출...",도시,혼자,Kn
777,1,9791130627878,내가 원하는 것을 나도 모를 때,왠지 자꾸만 마음이 쓸쓸하고 허무할 때가 있다. 지금 제대로 살고 있는 건지 앞으로...,도시,혼자,Ex
778,1,9788934972464,사피엔스,"지금으로부터 10만 년 전, 지구에는 호모 사피엔스뿐만 아니라 네안데르탈인, 호모 ...",도시,혼자,Kn
779,1,9788965746669,당신이 옳다(교보문고 단독 리커버)(찰스 장 아트 에디션),"30여 년간 정신과 의사로 활동하며 1만2천여 명의 속마음을 듣고 나누었고, 《당신...",도시,혼자,Sh

### 벡터라이즈

In [119]:
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
%matplotlib inline

from PIL import Image
import nltk
from konlpy.corpus import kobill

In [120]:
#from konlpy.tag import Okt;
#t = Okt()
#tokens_ko = t.nouns(novel)
#tokens_ko

In [121]:
stop_words = ['책', '.', '(', ')', ',', "'", '%', '-', 'X', ').', 'x', '의', '자', '에', '안', '변', '호', '을', '이', '다', '만', '로', '가', '를', '것', '그', '이', '관', '수', '간', '앞', '때', '내', '준', '해', '주']

In [155]:
df_concated['corpus'] = df_concated['area']  + df_concated['company'] + df_concated['interest']

In [156]:
df_concated2 = df_concated.dropna()

In [157]:
df_concated2

,label,code,title,corpus,area,company,interest
0,2,2122,국립박물관과 고흐 미술관 대표작 설명,도시혼자Ar,도시,혼자,Ar
1,2,1474,암스테르담 시내 워킹투어,도시혼자Ex,도시,혼자,Ex
2,2,34700,네덜란드 암스테르담 시내 실속 워킹투어,도시허니문Ar,도시,허니문,Ar
3,2,460,"히트호른, 폴른담, 풍차마을",자연친구Ex,자연,친구,Ex
4,2,8693,"[1+1이벤트/가격할인]프라하근교차량투어""독일 드레스덴&작센의스위스""(#할인쿠폰제공#)",자연혼자Ex,자연,혼자,Ex
...,...,...,...,...,...,...,...
775,1,9788934985068,팩트풀니스,도시혼자Ex,도시,혼자,Ex
776,1,9791190313131,지적 대화를 위한 넓고 얕은 지식: 제로 편,도시혼자Kn,도시,혼자,Kn
777,1,9791130627878,내가 원하는 것을 나도 모를 때,도시혼자Ex,도시,혼자,Ex
778,1,9788934972464,사피엔스,도시혼자Kn,도시,혼자,Kn
779,1,9788965746669,당신이 옳다(교보문고 단독 리커버)(찰스 장 아트 에디션),도시혼자Sh,도시,혼자,Sh

In [158]:
df_concated3 = df_concated2.reset_index(drop=True)

In [159]:
df_concated3 = df_concated3.dropna()

In [160]:
df_concated3[600:610]

,label,code,title,corpus,area,company,interest
600,1,9788966376650,"10대, 인생을 바꾸는 진로 수업",도시가족Ar,도시,가족,Ar
601,1,9788990514400,화성에서 온 남자 금성에서 온 여자,도시허니문Fo,도시,허니문,Fo
602,1,9791195901968,생각정리스킬,자연가족Fo,자연,가족,Fo
603,1,9791190467117,1년 안에 AI 빅데이터 전문가가 되는 법,도시혼자Ad,도시,혼자,Ad
604,1,9791186805282,1만 시간의 재발견,도시친구Et,도시,친구,Et
605,1,9791189279998,기적의 암기법,도시혼자Fo,도시,혼자,Fo
606,1,9791187165286,마인드셋,도시친구Ad,도시,친구,Ad
607,1,9791190313223,당신의 뇌는 서두르는 법이 없다,자연혼자Ex,자연,혼자,Ex
608,1,9791162541289,"울트라러닝, 세계 0.1%가 지식을 얻는 비밀",도시혼자Fo,도시,혼자,Fo
609,1,9788901240978,우리는 달에 가기로 했다,도시친구Ad,도시,친구,Ad

In [161]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer(analyzer='word', ngram_range=(1,2), min_df=0, stop_words=stop_words)
tfidf_matrix = tf.fit_transform(df_concated3['corpus'])
tfidf_matrix

<770x55 sparse matrix of type '<class 'numpy.float64'>'
	with 770 stored elements in Compressed Sparse Row format>

In [162]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [163]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf_corpus = TfidfVectorizer(analyzer='word', ngram_range=(1,2), min_df=0, stop_words=stop_words)
tfidf_matrix_corpus = tf_corpus.fit_transform(df_concated3['corpus'])
cosine_sim_corpus = linear_kernel(tfidf_matrix_corpus, tfidf_matrix_corpus)

titles = df_concated3["code"]
indices = pd.Series(df_concated3.index, index=df_concated3['code'])

In [164]:
titles1 = df_concated3[['label','code', 'title', 'corpus']]
indices1 = pd.Series(df_concated3.index,index=df_concated3['title'])

def corpus_recommendation(title):
    idx = indices1[title]
    sim_scores = list(enumerate(cosine_sim_corpus[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[0:200]
    book_indices = [i[0] for i in sim_scores]
    
    return titles1.iloc[book_indices]

    #return df_concated.iloc[book_indices]

In [165]:
result = corpus_recommendation("감정에 체한 밤")

In [166]:
result[result['label'] == 2][0:6]

    label   code                                              title  corpus
21      2  18032     #소수정예+스냅# 벨기에 투어: 브뤼헤 + 브뤼셸 (파리 출발 도착/숙소샌딩 포함)  도시혼자Sh
32      2  11138     #런던 1위 야경투어 #맥주한잔과 인생샷이 함께하는 로맨틱 야경투어 with PUB  도시혼자Sh
37      2  27527   #런던 로맨틱 야경투어# [런던소풍]가이드와 함께 안전하고 즐거운 야경투어와 인생사진!  도시혼자Sh
51      2   6349                           당일예약가능로마 저녁 시티투어 & 야경 특가  도시혼자Sh
56      2  53690    [감동1위:) 스냅작가 동행] 같이 걸어요,  파리야경 음악투어(스냅40장+a 제공)  도시혼자Sh
78      2  34188   [톨레도&세고비아] #학생할인#내일예약가능#공인가이드#프라도5천원#야경1유로#톨레도노을  도시혼자Sh

In [167]:
result = corpus_recommendation("백범일지")

In [168]:
result[result['label'] == 2][0:6]

     label   code                                             title  corpus
5        2  12350                [투어] 하루에 다 보는 베를린 가이드 투어  (독일/베를린)  도시혼자Kn
50       2  32691  보따리투어 :: 낮보다 밤이 아름다운 피렌체 야경과 함께하는 시티투어, 피렌체 야경투어  도시혼자Kn
65       2  45020          [투어] 한국인 투어 코디와 함께하는 발레타 워킹 투어 :: 몰타/발레타  도시혼자Kn
77       2  27915          [디테일 가우디+고딕지구무료야경] 최고의 스토리텔링+구엘공원무료/동반입장  도시혼자Kn
110      2  14231                                   리가 음식, 문화 워킹 투어  도시혼자Kn
133      2  29266      아픈 현대사 속에서 도약하는 나라 세르비아,  수도 베오그라드 시내 워킹 투어!  도시혼자Kn

In [169]:
result = corpus_recommendation("10대, 인생을 바꾸는 진로 수업")

In [170]:
result[result['label'] == 2][0:6]

     label   code                                            title  corpus
7        2   1899              도대체 베를린이 뭐하는 곳이야? (+ 포츠담 가이드자료집 증정)  도시가족Ar
38       2  48505                [베스트셀러] 최고의 일정 감동 투어 :: 오스트리아/비엔나  도시가족Ar
69       2  73284  [투어] 걸어서 세계속으로 메인 코디의 성지순례 전일투어(입장료포함) (몰타/임디나)  도시가족Ar
207      2  25822                오슬로에서 꼭 봐야 할 곳 !!!  뭉쿠의 행복한 워킹 투어  도시가족Ar
208      2  25822                오슬로에서 꼭 봐야 할 곳 !!!  뭉쿠의 행복한 워킹 투어  도시가족Ar
0        2   2122                            국립박물관과 고흐 미술관  대표작 설명  도시혼자Ar

In [171]:
result = corpus_recommendation("화성에서 온 남자 금성에서 온 여자")

In [172]:
result[result['label'] == 2][0:6]

     label   code                                              title   corpus
137      2  17333                          브라티슬라바 1일투어 _ 고성 그리고 골목투어  도시허니문Fo
0        2   2122                              국립박물관과 고흐 미술관  대표작 설명   도시혼자Ar
1        2   1474                                      암스테르담 시내 워킹투어   도시혼자Ex
2        2  34700                            네덜란드 암스테르담 시내  실속 워킹투어   도시허니문Ar
3        2    460                                    히트호른, 폴른담, 풍차마을   자연친구Ex
4        2   8693  [1+1이벤트/가격할인]프라하근교차량투어"독일 드레스덴&작센의스위스"(#할인쿠폰제공#)    자연혼자Ex